<div class="container">
  <h1><%= @project.name %></h1>
  <p>Todo el contenido de la página</p>
  <%= link_to 'Volver al listado', projects_path %> | 
  <%= link_to 'Editar', edit_project_path(@project) %>
</div>



